{% if SESSION.logged %}
<div id="admin" class="form"> 
    <h2>Change credentials</h2>
    <div class="input">
        <label for="admin-password">{{Lang.labels.password}}</label>
        <input class="u" type="password" id="admin-password" value=""/>
    </div> 
    <div class="input">
        <label for="admin-newpassword">{{Lang.labels.newpassword}}</label>
        <input class="u" type="password" id="admin-newpassword" value=""/>
    </div> 
    
    <div class="input">
        <span></span>
        <button class="btn btn-outline-success" onclick="saveCredentials()">{{Lang.buttons.save}}</button>
    </div> 
    {% if SESSION.admin %}
    <h2>Create a new user account</h2>
    <div class="input">
        <label for="user-username">{{Lang.labels.username}}</label>
        <input class="u" type="text" id="user-username" value=""/>
    </div>  
    <div class="input">
        <label for="user-password">{{Lang.labels.password}}</label>
        <input class="u" type="password" id="user-password" value=""/>
    </div>  
    <div class="input">
        <span></span>
        <button class="btn btn-outline-success" onclick="addUser()">{{Lang.buttons.add}}</button>
    </div> 
    <div class="alert-warning alert"> 
        <p>{{Lang.messages.admin_username}}</p>
        <p>{{Lang.messages.admin_password}}</p>
        
    </div>
    {% endif %}
</div>
{% else %}
    
{% endif %}