<script async>window.c = 's'; reset();</script>
<div id="controls">
    <a onclick="start()">{{Lang.buttons.start}}</a>
    <a onclick="pause()">{{Lang.buttons.pause}}</a>
    <a onclick="_yield()">{{Lang.buttons.yield}}</a>
    <a onclick="reset()">{{Lang.buttons.reset}}</a>
    <a onclick="next()">{{Lang.buttons.next}}</a> 
    <div class="input">
        <label for="timerTo">{{Lang.labels.speaking}}</label>
        <input id="timerTo" onkeyup="updateTimer()" onchange="updateTimer()" type="number" min="0" value="{{committee.default_speaking_time}}" />
    </div>
</div>

<div id="generalPage" class="">
    <div id="delegationsSelectList">
        <input  onkeyup="search(this)"  onclick="search(this)" onchange="search(this)" type="search" placeholder="Search..."/>
        <div id="results">
        {% for delegation in delegations %}
            <div class="delegation">
                <img src="{{delegation.flag}}" />
                <span>{{delegation.name}}</span>
                <i class="fa fa-plus-square" onclick="addToSpeaking('{{delegation.id}}')"></i>
            </div>
        {% endfor %}
        </div>
    </div>
    <div id="mainFrame">
       <div id="speakerCounter">
           <div id="progressContainer" class="progress-bar-striped">
            <div id="progressLabel">00:00</div>
               <div id="progress" class="progress-bar-striped progress-bar">
               </div>
            </div>
       </div>
       <div id="speaker">
        <div id="speakerFlag"></div>
        <div id="speakerName">Please, select speakers from the list on the left</div>
       </div>
    </div>
    <div id="speakingList">
        
    </div>
</div>
