<div id="sidebar">     
    <div class="side-item" data-goto="Presence">{{Lang.titles.presence}}</div>
    <div class="side-item" data-goto="General">{{Lang.titles.generalList}}</div>
    <div class="side-item" data-goto="Special">{{Lang.titles.specialList}}</div>
    <div class="side-item" data-goto="ModCaucus">{{Lang.titles.modCaucus}}</div>
    <div class="side-item" data-goto="UnmodCaucus">{{Lang.titles.unmodCaucus}}</div>
    <div class="side-item" data-goto="Voting">{{Lang.titles.rollCallVote}}</div>
    <div class="side-item" data-goto="Statistics">{{Lang.titles.statistics}}</div>
    <div class="side-item" data-goto="Dashboard">{{Lang.titles.dashboard}}</div>
</div>